services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181
    networks:
      - kafka-net

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAKFA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: "bookmarks:3:1"
    networks:
      - kafka-net

  kafka_consumer:
    build: ./kafka_consumer
    container_name: kafka_consumer
    restart: always
    depends_on:
      kafka:
        condition: service_started
      postgres:
        condition: service_healthy 
    environment:
      - KAFKA_BOOSTRAP_SERVERS=kafka:9092
      - KAFKA_TOPIC=bookmarks
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=librarian
      - POSTGRES_HOST=postgres
    networks:
      - kafka-net

  scrapy:
    build: ./bookmarks
    container_name: scrapy
    depends_on:
      - kafka
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - KAFKA_TOPIC=bookmarks
    networks:
      - kafka-net

  spark:
    build: ./spark
    container_name: spark
    depends_on:
      - kafka
      - postgres
    environment:
      - SPARK_MODE=master
    ports:
      - "8080:8080"
      - "7077:7077"
    networks:
      - kafka-net

  spark-worker:
    build: ./spark
    container_name: spark-worker
    depends_on:
      - spark
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark:7077
    networks:
      - kafka-net

  postgres:
    build: ./database
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: librarian
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "librarian", "-U", "postgres"]
      interval: 5s
      retries: 5
      start_period: 10s
    ports:
      - "5432:5432"
    networks:
      - kafka-net

networks:
  kafka-net:
    driver: bridge
